<!--<form #ticketForm (ngSubmit)="onFormSubmit(ticketForm, titleCtrl, requestCtrl)" novalidate>-->
<form #ticketForm (ngSubmit)="onFormSubmit2(titleCtrl, requestCtrl)">
    <app-form-control class="control" label="Title">
        <input id="title" name="title" #titleCtrl #input />
        <!--<small class="error" *ngIf="titleCtrl.invalid && titleCtrl.touched">
            Title is required.
        </small>-->
    </app-form-control>

    <app-form-control class="control" label="Request">
        <textarea id="request" name="request" #requestCtrl rows="3" #input></textarea>
        <!--<small class="error" *ngIf="requestCtrl.invalid && requestCtrl.touched">
            Request is required.
        </small>-->
    </app-form-control>

    <p>
        <button appButton type="submit">
            Submit
            <span ngProjectAs="icon">⌲</span>
        </button>
    </p>
</form>