<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <h2>Welcome on board!</h2>
  <p>We just need a little bit of data from you to get you started 🚀</p>

  <div class="control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" autocomplete="email" />
  </div>
  @if(signupForm.controls.email.invalid && signupForm.controls.email.touched && signupForm.controls.email.dirty) {
    <div>
      @if (signupForm.controls.email.errors?.['required']) {
      <p class="control-error">Email is required.</p>
      }
      @if (signupForm.controls.email.errors?.['email']) {
      <p class="control-error">Please enter a valid email address.</p>
      }
      @if (signupForm.controls.email.errors?.['emailIsUnique']) {
      <p class="control-error">This email is already in use. Please choose another address.</p>
      }
    </div>
  }

  <div class="control-row">
    <div class="control">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" autocomplete="new-password" />
    </div>

    <div class="control">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" autocomplete="new-password" />
    </div>
  </div>
  @if(signupForm.controls.password.invalid && signupForm.controls.password.touched && signupForm.controls.password.dirty) {
    <div>
      @if (signupForm.controls.password.errors?.['required']) {
      <p class="control-error">Password is required.</p>
      }
      @if (signupForm.controls.password.errors?.['minlength']) {
      <p class="control-error">Password must be at least {{ signupForm.controls.password.errors?.['minlength'].requiredLength }} characters.</p>
      }
      @if (signupForm.controls.password.errors?.['pattern']) {
      <p class="control-error">Password can contain only letters, numbers, and question marks.</p>
      }
      @if (signupForm.controls.password.errors?.['mustContainQuestionMark']) {
      <p class="control-error">Password must include a question mark (?).</p>
      }
    </div>
  }
  @if(signupForm.controls.confirmPassword.invalid && signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.dirty) {
    <div>
      @if (signupForm.controls.confirmPassword.errors?.['required']) {
      <p class="control-error">Please confirm your password.</p>
      }
      @if (signupForm.controls.confirmPassword.errors?.['mustMatch']) {
      <p class="control-error">Password and confirm password must match</p>
      }
    </div>
  }

  <hr />

  <div>
    <div class="control-row">
      <div class="control">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" formControlName="firstName" />
      </div>

      <div class="control">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" formControlName="lastName" />
      </div>
    </div>
    @if(signupForm.controls.firstName.invalid && signupForm.controls.firstName.touched && signupForm.controls.firstName.dirty) {
      <div>
        @if (signupForm.controls.firstName.errors?.['required']) {
        <p class="control-error">First name is required</p>
        }
      </div>
    }
    @if(signupForm.controls.lastName.invalid && signupForm.controls.lastName.touched && signupForm.controls.lastName.dirty) {
      <div>
        @if (signupForm.controls.lastName.errors?.['required']) {
        <p class="control-error">Last name is required</p>
        }
      </div>
    }

    <fieldset>
      <legend>Your Address</legend>

      <div class="control-row">
        <div class="control">
          <label for="street">Street</label>
          <input type="text" id="street" name="street" formControlName="street" />
        </div>
        @if(signupForm.controls.street.invalid && signupForm.controls.street.touched && signupForm.controls.street.dirty) {
          <div>
            @if (signupForm.controls.street.errors?.['required']) {
            <p class="control-error">Street is required</p>
            }
            @if (signupForm.controls.street.errors?.['canadianAddress']) {
            <p class="control-error">Street name is invalid</p>
            }
          </div>
        }

        <div class="control">
          <label for="number">Number</label>
          <input type="text" id="number" name="number" formControlName="number" />
        </div>
        @if(signupForm.controls.number.invalid && signupForm.controls.number.touched && signupForm.controls.number.dirty) {
          <div>
            @if (signupForm.controls.number.errors?.['required']) {
            <p class="control-error">Number is required</p>
            }
            @if (signupForm.controls.number.errors?.['positiveNumber']) {
            <p class="control-error">Number must be a positive integer</p>
            }
          </div>
        }
        
      </div>

      <div class="control-row">
        <div class="control">
          <label for="postal-code">Postal Code</label>
          <input type="text" id="postal-code" name="postal-code" formControlName="postalCode" />
        </div>
        @if(signupForm.controls.postalCode.invalid && signupForm.controls.postalCode.touched && signupForm.controls.postalCode.dirty) {
          <div>
            @if (signupForm.controls.postalCode.errors?.['required']) {
            <p class="control-error">Number is required</p>
            }
            @if (signupForm.controls.postalCode.errors?.['postalCode']) {
            <p class="control-error">Invalid postal code</p>
            }
          </div>
        }

        <div class="control">
          <label for="city">City</label>
          <input type="text" id="city" name="city" formControlName="city" />
        </div>
        @if(signupForm.controls.city.invalid && signupForm.controls.city.touched && signupForm.controls.city.dirty) {
          <div>
            @if (signupForm.controls.city.errors?.['required']) {
            <p class="control-error">Number is required</p>
            }
            @if (signupForm.controls.city.errors?.['canadianAddress']) {
            <p class="control-error">Invalid city name</p>
            }
          </div>
        }
      </div>
    </fieldset>
  </div>

  <hr />

  <div class="control-row">
    <div class="control">
      <label for="role">What best describes your role?</label>
      <select id="role" name="role">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
        <option value="employee">Employee</option>
        <option value="founder">Founder</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>

  <fieldset>
    <legend>How did you find us?</legend>
    <div class="control">
      <input type="checkbox" id="google" name="acquisition" value="google" />
      <label for="google">Google</label>
    </div>

    <div class="control">
      <input type="checkbox" id="friend" name="acquisition" value="friend" />
      <label for="friend">Referred by friend</label>
    </div>

    <div class="control">
      <input type="checkbox" id="other" name="acquisition" value="other" />
      <label for="other">Other</label>
    </div>
  </fieldset>

  <div class="control-row">
    <div class="control">
      <label for="terms-and-conditions">
        <input type="checkbox" id="terms-and-conditions" name="terms" />
        I agree to the terms and conditions
      </label>
    </div>
  </div>

  <p class="form-actions">
    <button type="reset" class="button button-flat" (click)="signupForm.reset()">Reset</button>
    <button type="submit" class="button" [disabled]="signupForm.invalid || signupForm.pending">Sign up</button>
  </p>
</form>